body {
    background-color: rgb(27, 27, 27);
    color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}
.Link {
    color: rgb(255, 255, 255);
}

button {
    padding: 10px 15px;
}